.box-card {
position: relative;
width: 250px;
height: 400px;
display: flex;
flex-direction: column;
align-items: center;
float: left;
/*left: 20px;*/
margin-top: 15px;
right: -25px;
background-color: none;
}

.card {
--main-color: #000;
--submain-color: #78858F;
--bg-color: #fff;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: relative;
width: 230px;
height: 350px;
display: flex;
flex-direction: column;
align-items: center;
float: left;
background: var(--bg-color);
left: 20px;
}



.card__img img {
width: 200px;
height: 210px;
}

.card__title {
font-weight: 500;
font-size: 14px;
color: var(--main-color);

padding-left: 10px;
padding-right: 10px;
text-align: center;
}
/*VALORACION*/
.rating:not(:checked) > input {
position: absolute;
appearance: none;
}

.rating:not(:checked) > label {
float: right;
cursor: pointer;
font-size: 15px;
color: #666;
}

.rating:not(:checked) > label:before {
content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
color: #ff9e0b;
}

.rating > input:checked ~ label {
color: #ffa723;
}

/*END VALORACION*/

.card__valoracion {
margin-top: -5px;
font-weight: 400;
font-size: 20px;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
text-align: center;
}
.card__precio__antes {
margin-top: -5px;
margin-left: -70px;
font-weight: 400;
font-size: 15px;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
text-align: center;
color: rgba(153, 26, 26, 0.562);
text-decoration: line-through;
}
.card__precio_nuevo {
    margin-top: -27px !important;
    margin-right: -70px;
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #000;
    }
.card__precio__descuento {
    margin-top: -5px;
    margin-bottom: -10px;
    margin-right: 0px;
    font-weight: 500;
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: rgb(153, 26, 26)
    }
.card__btn {
margin-top: 10px;
margin-bottom: 5px;
width: 76px;
height: 31px;
border: 2px solid var(--main-color);
border-radius: 4px;
font-weight: 700;
font-size: 11px;
color: var(--main-color);
background: var(--bg-color);
text-transform: uppercase;
transition: all 0.3s;
}

.card__btn-solid {
background: var(--main-color);
color: var(--bg-color);
}

.card__btn:hover {
background: var(--main-color);
color: var(--bg-color);
}

.card__btn-solid:hover {
background: var(--bg-color);
color: var(--main-color);
}

/*BOTON PAGINACIONProductos*/
.paginacionProductos {
position: absolute;
width: 100%;
height: 45px;
float: left;
margin: 0 auto;
background-color: none;
margin-top: 800px !important;
}

.paginacionProductos ul {
list-style:none;
text-align: center;
}

.paginacionProductos ul li {
display:inline-block;
margin-right:5px;
}

.paginacionProductos ul li a {
display:block;
padding:10px 20px;
color:#000;
background:#f26d43;
text-decoration: none;
}

.paginacionProductos ul li a:hover {
background:#232b2c;
}

.paginacionProductos ul li .pagActiva {
background:#232b2c;
color: #fff;
font-weight:bold;
}




  .barraDestacados{
    width: 290px; 
    height: 765px; 
    background-color: #e7e2e2;  
    display: flex;
    justify-content: center;
    align-items: center; float: left; 
    margin-top: 23px;
    padding: 5px;
    color: #000;
  }
  .contenidoDestacado{
    width: 280px; 
    max-width: 280px; 
    height: 755px;
    background-color: #e7e2e2;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenidoDestacado h6{
    width: 280px; 
    max-width: 180px; 
    height: 755px;
    background-color: none;  
    display: flex;
    justify-content: center;
  }



  .dollar {
    margin-top: -30px;
    margin-left: 35px;
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
  }