.box-item{
    float: left;
    width: auto;
    height: 60px;
    margin-left: 16px;
    margin-bottom: 30px;
}

.selectEstado{
    position: relative;    
    display: flex;
    margin-top: 17px;
    width: 400px;
    padding: 5px;
    background-color: transparent;
    color: #000;
    border: .8px solid #75759E;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 3.05rem;
}

.selectMunicipio{
    position: relative;
    margin-left: 16px;
}

